html
    head
        title Node Learning
    body(class=["myClass"])
        h1(id='MyId') Test Title 
        p 
            h3 sub header
        ul
            each val in list
                li=val